 Implement a PySpark script that applies transformations like filter and withColumn on a
DataFrame

In [5]:
import pyspark
from pyspark.sql import SparkSession
import pandas as pd
from pyspark.sql import functions as F

In [3]:
spark = SparkSession.builder.config("spark.driver.memory", "16g").appName('q1').getOrCreate()

/home/lplab/anaconda3/lib/python3.7/site-packages/pyspark/context.py:317: FutureWarning: Python 3.7 support is deprecated in Spark 3.4.
  warnings.warn("Python 3.7 support is deprecated in Spark 3.4.", FutureWarning)

In [6]:
df = spark.read.csv('dummy_data.csv', header='True', inferSchema='True')
df.printSchema() # It will print the Schema
df.show()

root
 |-- ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Salary: integer (nullable = true)

+---+-------------+---+------+
| ID|         Name|Age|Salary|
+---+-------------+---+------+
|  1|     John Doe| 28| 50000|
|  2|   Jane Smith| 34| 60000|
|  3|Emily Johnson| 45| 70000|
|  4|Michael Brown| 29| 55000|
|  5|Jessica Davis| 32| 65000|
+---+-------------+---+------+

In [10]:
# Implement a PySpark script that applies transformations like filter and withColumn on a DataFrame
from pyspark.sql.functions import col
df.withColumn("Provident_Fund",col("Salary")* 0.05).show()
df.filter(col('age')>30).show()

+---+-------------+---+------+--------------+
| ID|         Name|Age|Salary|Provident_Fund|
+---+-------------+---+------+--------------+
|  1|     John Doe| 28| 50000|        2500.0|
|  2|   Jane Smith| 34| 60000|        3000.0|
|  3|Emily Johnson| 45| 70000|        3500.0|
|  4|Michael Brown| 29| 55000|        2750.0|
|  5|Jessica Davis| 32| 65000|        3250.0|
+---+-------------+---+------+--------------+

+---+-------------+---+------+
| ID|         Name|Age|Salary|
+---+-------------+---+------+
|  2|   Jane Smith| 34| 60000|
|  3|Emily Johnson| 45| 70000|
|  5|Jessica Davis| 32| 65000|
+---+-------------+---+------+

In [13]:
# Write a PySpark script that performs actions like count and show on a DataFrame.
print(df.distinct().count())
df.show()

5
+---+-------------+---+------+
| ID|         Name|Age|Salary|
+---+-------------+---+------+
|  1|     John Doe| 28| 50000|
|  2|   Jane Smith| 34| 60000|
|  3|Emily Johnson| 45| 70000|
|  4|Michael Brown| 29| 55000|
|  5|Jessica Davis| 32| 65000|
+---+-------------+---+------+

In [33]:
# 3) Demonstrate how to perform basic aggregations (e.g., sum, average) on a PySpark
# DataFrame

# print("avg: " + str(df.select(avg("salary")).collect()[0][0]))
from pyspark.sql.functions import sum, avg
# df.groupBy('Name').sum('Salary').show()
df.select('Salary').agg(sum("Salary")).show()
df.select('Salary').agg(avg("Salary")).show()

+-----------+
|sum(Salary)|
+-----------+
|     300000|
+-----------+

+-----------+
|avg(Salary)|
+-----------+
|    60000.0|
+-----------+

In [42]:
# df.write.csv('dummy_data2.csv')
df.write.csv("data2.csv")

In [45]:
#5) Implement wordcount program in PySpark
from pyspark.sql.functions import split, explode, col

df = spark.read.csv("output.txt", inferSchema=True, header=False)

words_df = df.select(explode(split(col("_c0"), " ")).alias("word"))
word_count_df = words_df.groupBy("word").count()
word_count_df.show(truncate=False)

+--------------+-----+
|word          |count|
+--------------+-----+
|purpose       |1    |
|capabilities. |1    |
|for           |1    |
|words         |1    |
|in            |1    |
|contains      |1    |
|task          |1    |
|count         |2    |
|created       |1    |
|is            |3    |
|processing.   |1    |
|It            |1    |
|file          |1    |
|the           |1    |
|demonstrating |1    |
|word          |1    |
|functionality.|1    |
|of            |1    |
|several       |1    |
|sample        |1    |
+--------------+-----+
only showing top 20 rows

In [ ]:
lplab@lpcp-34:~$ tar xzf /home/lplab/Downloads/hadoop-1.1.1.tar.gz
wget /home/lplab/Downloads/hadoop-1.1.1.tar.gz

export HADOOP_HOME=/home/hadoop/hadoop-1.1.1
export HADOOP_INSTALL=$HADOOP_HOME
export HADOOP_MAPRED_HOME=$HADOOP_HOME
export HADOOP_COMMON_HOME=$HADOOP_HOME
export HADOOP_HDFS_HOME=$HADOOP_HOME
export YARN_HOME=$HADOOP_HOME
export HADOOP_COMMON_LIB_NATIVE_DIR=$HADOOP_HOME/lib/native
export PATH=$PATH:$HADOOP_HOME/sbin:$HADOOP_HOME/bin
export HADOOP_OPTS"-Djava.library.path=$HADOOP_HOME/lib/nativ"